/* suivi de la charte graphique sur le fichier figma pour le mode standard*/


$defaultwidth: 100%;
$defautlheight: 100vh;
$blue: #0079ff;
$lightgrey: #697c9a;
$darkergrey: #4b6a9b;
$black: #2b3442;
$palewhite: #f6f8ff;
$white: #fefefe;
$mainfont: Space Mono;
$h1fontweight: bold;
$h1fontsize: 26px;
$h1lineheight: 38px;
$h2fontweight: bold;
$h2fontsize: 22px;
$h2lineheight: 33px;
$h3fontsize: 16px;
$h3lineheight: 33px;
$h4fontsize: 13px;
$h4lineheight: 20px;
$bodyfontsize: 15px;
$bodylineheight: 25px;
$textdarkmode: #ffffff;
$backgrounddarkmode: #141d2f;
$secondarybackgrounddarkmode: #1e2a47;
$sundarkmode: #90A4D4;

*{
    margin: 0;
    padding: 0;
}
html{
    width: $defaultwidth;
    height: $defautlheight;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 97%;
    margin: 0;
    padding: 0;
    font-family: $mainfont;
    font-size: $bodyfontsize;
    line-height: $bodylineheight;
    display: grid;
    grid-template:  20% 70% 20% / 20% 46% 30%;
    grid-gap: 5%;
}
/* HEADER */

header{
    grid-area: 1 / 2 / 1 / 2;
    justify-self: center;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 75% 25%;
    width: 100%;
}
header h1{
    font-size: $h1fontsize;
    font-weight: $h1fontweight;
    line-height: $h1lineheight;
    grid-area: 2 / 1 / 2 / 1;
    justify-self: flex-start;
    align-self: center;
}
header h1:hover{
    cursor: pointer;
}
header span, #moon, .dark{
    grid-area: 2 / 2 / 2 / 2;
    align-self: center;
}
header span{
    font-size: $h4fontsize;
    font-weight: bold;
    line-height: $h4lineheight;
    justify-self: flex-start;
    letter-spacing: 2.5px;
}
header #moon{
    justify-self: flex-end;
}
header .Dark:hover{
    cursor: pointer;
}
.Dark{
    grid-area: 2 / 2 / 2 / 2;
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: grid;
    grid-template: 100% / 50% 50%;
    width: 100%;
}
#moon, #sun, .sun{
    grid-area: 1 / 2 / 1 / 2;
    justify-self: flex-end;
    align-self: center;
}
.dark, .light{
    grid-area: 1 / 1 / 1 / 1;
    justify-self: flex-start;
}
#sun, .sun{
    visibility: hidden;
}
.light{
    visibility: hidden;
}

/* MAIN */

main{
    grid-area: 2 / 2 / 2 / 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 13% 87%;
    grid-gap: 5%;
}

/* SECTION 1*/
div{
    width: 100%;
    height: 100%;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
}
.search{
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template: 100% / 10% 60% 15% 15%;
}
.search img{
    grid-area: 1 / 1 / 1 / 1;
    justify-self: center;
    align-self: center;
}
.search input{
    border: none;   
    font-family: $mainfont;
    font-size: 18px;
    outline: none;
}
.search button{
    border: none;
    border-radius: 10px;
    height: 75%;
    width: 85%;
    justify-self: center;
    align-self: center;
    font-size: $h3fontsize;
    font-family: $mainfont;
}
.search button:hover{
    cursor: pointer;
    background-color: #60ABFF;
}

/* SECTION 2*/

.return{
    display: grid;
    grid-template-columns: 26% 5% 30% 5% 30%;
    grid-template-rows: 25% 20% 25% 10% 16%;
    grid-gap: 1%;
}
.avatar{
    grid-area: 1 / 1 / -4 / -4;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    display: flex;
    height: 50%;
    width: 45%;
}
.pseudo{
    grid-area: 1 / 2 / 1 / -2;
    align-self: center;
    font-size: $h1fontsize;
    font-weight: $h1fontweight;
    line-height: $h1lineheight;
}
.dateCreation{
    grid-area: 1 / 5 / 1 / 5;
    align-self: center;
    justify-self: flex-start;   
}
.identifiant{
    grid-area: 1 / 2 / 1 / -2;
    align-self: flex-end;
}
.identifiant:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.biographie{
    grid-area: 2 / 2 / 2 / -1;
    width: 90%;
}
.stats{
    grid-area: 3 / 2 / 3 / -3;
    height: 70%;
    width: 180%;
    display: grid;
    grid-template-columns: 5% 20% 30% 20% 5%;
    grid-template-rows: 50% 50%;
    box-shadow: none;
    grid-gap: 5%;
}
#repos{
    grid-area: 1 / 2 / 1 / 2;
    align-self: flex-end;
}
.repos{
    grid-area: 2 / 2 / 2 / 2;
    align-self: flex-start;
    font-size: $h2fontsize;
    font-weight: bold;
}
#followers{
    grid-area: 1 / 3 / 1 / 3;
    align-self: flex-end;
}
.followers{
    grid-area: 2 / 3 / 2 / 3;
    align-self: flex-start;
    font-size: $h2fontsize;
    font-weight: bold;
}
#following{
    grid-area: 1 / 4 / 1 / 4;
    align-self: flex-end;
}
.following{
    grid-area: 2 / 4 / 2 / 4;
    align-self: flex-start;
    font-size: $h2fontsize;
    font-weight: bold;
}
.icone-nav{
    grid-area: 4 / 2 / 4 / 2;
    justify-self: center;
    align-self: center;
}
.localisation{
    grid-area: 4 / 3 / 4 / 3;
    justify-self: flex-start;
    align-self: center;
}
.localisation:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.icone-twitter{
    grid-area: 4 / 4 / 4 / 4;
    justify-self: center;
    align-self: center;
}
.icone-twitter:hover{
    cursor: pointer;
}
.twitter{
    grid-area: 4 / 5 / 4 / 5;
    justify-self: flex-start;
    align-self: center;
}
.twitter:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.icone-web{
    grid-area: 5 / 2 / 5 / 2;
    justify-self: center;
    align-self: flex-start;
}
.web{
    grid-area: 5 / 3 / 5 / 3;
    justify-self: flex-start;
    align-self: flex-start;
}
.web:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.icone-building{
    grid-area: 5 / 4 / 5 / 4;
    align-self: flex-start;
    justify-self: center;
}
.building{
    grid-area: 5 / 5 / 5 / 5;
    justify-self: flex-start;
    align-self: flex-start;
}
.building:hover{
    cursor: pointer;
    text-decoration-line: underline;
}



body.light-mode{
    background-color: $palewhite;

    header h1{
        color: $black;
    }
    header .Dark{
        color: $lightgrey;
        background-color: transparent;
    }
    /*header .Dark:hover, span:hover, header #Path:hover{
        color: $black;
        fill: $black;
    }*/
    #moon{
        visibility: visible;
    }
    .dark{
        visibility: visible;
    }
    #sun, .sun{
        visibility: hidden;
    }
    .light{
        visibility: hidden;
    }
    div{
        background-color: $white;
    }
    .search input{
        color: $lightgrey
    }
    .search button{
        color: $white;
        background-color: $blue;
    }
    .search button:hover{
        background-color: #60ABFF;
    }
    .avatar{
        background-color: gainsboro;
    }
    .pseudo{
        color: $black;
    }
    .dateCreation{  
        color: $lightgrey;
    }
    .identifiant{
        color: $blue;
    }
    .biographie{
        color: $lightgrey;
    }
    .stats{
        background-color: $palewhite;
    }
    #repos{
        color: $lightgrey;
    }
    .repos{
        color: $black;
    }
    #followers{
        color: $lightgrey; 
    }
    .followers{
        color: $black;
    }
    #following{
        color: $lightgrey;
    }
    .following{
        color: $black;
    }
    .localisation{
        color: $darkergrey;
    }
    .twitter{
        color: $darkergrey;
    }
    .web{
        color: $darkergrey;
    }
    .building{
        color: $darkergrey;
    }
}


/* DARK MODE */


body.dark-mode{
    background-color: $backgrounddarkmode;

    header h1{
        color: $textdarkmode;
    }
    header span, #moon, .sun{
        color: $lightgrey;
    }
    header span{
        color: $textdarkmode;
    }
    header .light:hover, header .sun:hover, header .Dark{
        color: $sundarkmode;
        fill: $sundarkmode;
    }
    .Dark{
        background-color: transparent;
    }
    #moon{
        visibility: hidden;
    }
    .dark{
        visibility: hidden;
    }
    #sun, .sun{
        visibility: visible;
    }
    .light{
        visibility: visible;
    }
    div{
        background-color: $secondarybackgrounddarkmode;
    }
    .search input{
        color: $textdarkmode;
        background-color: $secondarybackgrounddarkmode;
    }
    .search input::placeholder{
        color: $textdarkmode;
    }
    .search button{
        color: $white;
        background-color: $blue;
    }
    .search button:hover{
        background-color: #60ABFF;
    }
    .avatar{
        background-color: gainsboro;
    }
    .pseudo{
        color: $textdarkmode;
    }
    .dateCreation{   
        color: $textdarkmode;
    }
    .identifiant{
        color: $blue;
    }
    .biographie{
        color: $textdarkmode;
    }
    .stats{
        background-color: $backgrounddarkmode;
    }
    #repos{
        color: $textdarkmode;
    }
    .repos{
        color: $textdarkmode;
    }
    #followers{
        color: $textdarkmode; 
    }
    .followers{
        color: $textdarkmode;
    }
    #following{
        color: $textdarkmode;
    }
    .following{
        color: $textdarkmode;
    }
    .localisation{
        color: $textdarkmode;
    }
    .twitter{
        color: $textdarkmode;
    }
    .web{
        color: $textdarkmode;
    }
    .building{
        color: $textdarkmode;
    }
}